body{
    font-family: 'Edu SA Beginner', cursive;
    margin: 0;
    padding: 0;
}
main{
    margin: 50px 70px;
    padding: 20px 30px 0px 30px;
}
.banner{
    background-color: black;
    color: white;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    height: 100%;
    margin-bottom: 100px;
}
.banner-description{
    margin: 56px 0px 0px 53px;
    width: 45%;
}
.banner-description h1{
    font-weight: 800;
    font-size: 50px;
}
.live-button{
    padding: 10px 20px;
    background-color: red;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    border-style: none;
    text-decoration: none;
    
}
.banner-description .live-button{
    position: absolute;
    transform: skew(20deg);
    animation: skew 3s ease-in-out 0.5s infinite alternate;
}
@keyframes skew {
    0% {
      transform: skewX(20deg);
    }
    100% {
      transform: skewX(-20deg);
    }
  }
.banner-photo{
    width: 40%;
}
.banner-photo img{
    width: 100%;
    height: 100%;
}
nav{
    width: 312px;
    height: 312px;
    padding: 10px 0;
    /* margin-right: 20px; */
    background-color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
}
.nav-blogs nav a{
    /* padding: 10px 10px; */
    margin: 20px 30px;
    background-color: white;
    color: black;
}
.nav-blogs{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;
}

#blog{
    background-color: red;
    color: white;
}

.blogs{
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
}
.blog{
    width: 312px;
    border: solid 1px gray;
    border-radius: 10px;
}
.blog-description{
    margin: 20px 10px 0px 15px;
}
.transfer{
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
    padding: 5px 10px; 
}
.blog-footer{
    display: flex;
    margin-bottom: 10px;
}
.blog-footer div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}
.match{
    height: 242px;
}
.country-photo{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 30px;
}
.country-photo span{
    font-weight: 700;
    font-size: 24px;
    margin: 0 10px;
}
.match-description{
    text-align: center;
}
.view-all{
    text-align: center;
    margin: 40px 0;
    display: none;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 70px;
    margin: 0;
}
footer hr{
    margin: 50px 0;
    color: azure;
    border: solid 1px gray;
}
.footer-nav a{
    text-decoration: none;
    padding: 0px 25px 0px 25px;
    color: white;
}
.social-icon{
    margin-top: 50px;
}
.social-icon a{
    padding: 0 15px 0 15px;
}

/* RESPONSIVE for tablet*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .banner-description{
        margin: 30px 0px 0px 40px;
    }
    .banner-description h1{
        font-size: 40px;
    }
    .banner-description p{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .nav-blogs{
        display: flex;
        flex-direction: column;
    }
    nav{
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        background-color: white;
    }
    .nav-blogs nav a{
        width: 230px;
        padding: 10px 20px;
        margin: 0 20px;
        background-color: white;
        color: black;
        border: solid 1px gray;
    }
    .blogs{
        grid-template-columns: repeat(2, 1fr);
    }
    .hide-for-tablet{
        display: none;
    }
    .view-all{
        display: block;
    }
    .footer-nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    footer .footer-nav a{
        padding: 20px 40px;
    }
}

/* RESPONSIVE for Phone */
@media screen and (max-width: 767px) {
    .banner{
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }
    .banner-description{
        margin: 0;
        text-align: center;
        margin-bottom: 50px;
    }
    .banner-description h1{
        font-size: 40px;
    }
    .banner-description p{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .live-button{
        left: 285px;
    }
    .nav-blogs{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav{
        background-color: white;
    }
    .nav-blogs nav a{
        padding: 10px 20px;
        background-color: white;
        color: black;
        border: solid 1px gray;
    }
    .blogs{
        grid-template-columns:1fr;
    }
    .hide-for-tablet{
        display: none;
    }
    footer .footer-nav a{
        margin-top: 20px;
        display: block;
    }
    .live-button{
        padding: 5px 10px;
        font-size: 12px;
    }
}